# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
    * List popular languages for Data Science
    * List commonly used libraries in Data Science
    * Show examples of arithmetic expressions used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Seaborn
3. TensorFlow

| Data Science Tools |
| -------------------|
| Apache Spark |
| Apache Hadoop |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [18]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [20]:
200/60

3.3333333333333335

## Author
Kunsh